<main class="app-content">
  <div class="app-title">
    <div>
      <h1>
        <i class="fa fa-th-list"></i> Device Request</h1>
      <!-- <p>Device Request</p> -->
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item">
        <i class="fa fa-home fa-lg"></i>
      </li>
      <!-- <li class="breadcrumb-item">Tables</li> -->
      <li class="breadcrumb-item active">
        <a href="#">Device Request</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <!-- <h3 class="tile-title">Device Request</h3> -->
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Device Name</th>
                <th>Asset ID</th>
                <th>OS</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody >
              <tr class="" *ngFor="let request of requestedDevice" >
                <td>{{ request.created_by.name }}</td>
                <td>{{request.asset.asset_name}}</td>
                <td>{{request.asset_id}}</td>
                <td>{{request.asset.asset_platform.name}}</td>
                <td>
                  <button class="btn btn-success" (click)="accept(request.worklog_id);btnDisabled=true"> Accept </button>
                </td>
                <td>
                  <button class="btn btn-success" (click)="cancel(request.worklog_id);btnDisabled=true"> Cancel </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

</main>