<main class="app-content">
  <div class="app-title">
    <div>
      <h1>
        <i class="fa fa-th-list"></i> Device Request</h1>
      <!-- <p>Device Request</p> -->
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item">
        <i class="fa fa-home fa-lg"></i>
      </li>
      <!-- <li class="breadcrumb-item">Tables</li> -->
      <li class="breadcrumb-item active">
        <a href="#">Device Request</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <h3 class="tile-title">Device Request</h3>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Device Name</th>
                <th>Asset ID</th>
                <th>OS</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr class="" *ngFor="let request of requestedDevice">
                <td>{{ request.assignedTo }}</td>
                <td>{{request.model}}</td>
                <td>{{request.assetId}}</td>
                <td>{{request.osPlatform}}</td>
                <td>
                  <button class="btn btn-success" (click)="accept(request._id);btnDisabled=true"> Accept </button>
                </td>
                <td>
                  <button class="btn btn-success" (click)="cancel(request._id);btnDisabled=true"> Cancel </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      
      </div>
      <app-chart></app-chart>
    </div>
  </div>

</main>