<app-page-loader *ngIf="showLoadingIndicator"></app-page-loader>
<app-header-bar></app-header-bar>
<app-side-menu></app-side-menu>
<!-- <app-device-request></app-device-request> -->
<!-- <app-device-list></app-device-list> -->

<router-outlet></router-outlet>
<!-- <app-device-management></app-device-management> -->
