<main class="app-content">
  <div class="row">
    <div class="col-md-6">
      <div class="chart-container">
        <canvas height="250px" #deviceStatusChart></canvas>
      </div>
    </div>
    <div class="col-md-6">
      <div class="chart-container">
        <canvas height="250px" #devicePlatformChart></canvas>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <div class="row">
    <div class="col-md-4">
      <div class="chart-container">
        <canvas height="250px" #deviceStatusAndroid></canvas>
      </div>
    </div>
    <div class="col-md-4">
      <div class="chart-container">
        <canvas height="250px" #deviceStatusIos></canvas>
      </div>
    </div>
    <div class="col-md-4">
      <div class="chart-container">
        <canvas height="250px" #deviceStatusOther></canvas>
      </div>
    </div>
  </div>
</main>