.btn-link {
    padding: 0.4rem 1.5rem;
    border-bottom: 3px solid transparent;
}
.btn-link:hover {
    border-bottom: 3px solid;
    text-decoration: none;
}
.btn-link:active{
    border-bottom: 3px solid;
    text-decoration: none;
}