<main class="app-content">
    <div class="app-title">
        <div class="div">
            <h1>
                <i class="fa fa-laptop"></i> Dashboard</h1>
            <!-- <p>Dashboard</p> -->
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item">
                <i class="fa fa-home fa-lg"></i>
            </li>
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
        </ul>
    </div>
    
    <div class="bs-component">
        <button class="btn btn-link" type="button" (click)="tap='all'">All</button>
        <button class="btn btn-link" type="button" (click)="tap='iphone'">iPhone</button>
        <button class="btn btn-link" type="button" (click)="tap='ipad'">iPad</button>
        <button class="btn btn-link" type="button" (click)="tap='androidPhone'">Android Phone</button>
        <button class="btn btn-link" type="button" (click)="tap='androidTablet'">Android Tablet</button>
        <button class="btn btn-link" type="button" (click)="tap='windoPhone'">Windos Phone</button>
        <button class="btn btn-link" type="button" (click)="tap='other'">Other</button>
    </div>
    <!-- Containers-->
    <div class="tile mb-4">
        <div class="row" *ngIf="tap == 'all' ">
            <div class="col-lg-3" *ngFor="let device of devices">
                <div class="bs-component">
                    <app-device-item [deviceAssetId]="device.asset_id" [deviceTitle]="device.asset_model" [deviceDescription]="device.asset_platform.name" [allocationStatus]="device.asset_status.name"></app-device-item>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="tap === 'iphone' ">
            <div class="col-lg-3" *ngFor="let device of iphoneDevice">
                <div class="bs-component">
                    <app-device-item [deviceAssetId]="device.asset_id" [deviceTitle]="device.asset_model" [deviceDescription]="device.asset_platform.name" [allocationStatus]="device.asset_status.name"></app-device-item>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="tap === 'ipad' ">
            <div class="col-lg-3" *ngFor="let device of ipadDevice">
                <div class="bs-component">
                    <app-device-item [deviceAssetId]="device.asset_id" [deviceTitle]="device.asset_model" [deviceDescription]="device.asset_platform.name" [allocationStatus]="device.asset_status.name"></app-device-item>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="tap === 'androidPhone' ">
            <div class="col-lg-3" *ngFor="let device of androidDevice">
                <div class="bs-component">
                    <app-device-item [deviceAssetId]="device.asset_id" [deviceTitle]="device.asset_model" [deviceDescription]="device.asset_platform.name" [allocationStatus]="device.asset_status.name"></app-device-item>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="tap === 'androidTablet' ">
            <div class="col-lg-3" *ngFor="let device of androidTablet">
                <div class="bs-component">
                    <app-device-item [deviceAssetId]="device.asset_id" [deviceTitle]="device.asset_model" [deviceDescription]="device.asset_platform.name" [allocationStatus]="device.asset_status.name"></app-device-item>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="tap === 'windoPhone' ">
            <div class="col-lg-3" *ngFor="let device of windowPhone">
                <div class="bs-component">
                    <app-device-item [deviceAssetId]="device.asset_id" [deviceTitle]="device.asset_model" [deviceDescription]="device.asset_platform.name" [allocationStatus]="device.asset_status.name"></app-device-item>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="tap === 'other' ">
            <div class="col-lg-3" *ngFor="let device of other">
                <div class="bs-component">
                    <app-device-item [deviceAssetId]="device.asset_id" [deviceTitle]="device.asset_model" [deviceDescription]="device.asset_platform.name" [allocationStatus]="device.asset_status.name"></app-device-item>
                </div>
            </div>
        </div>
    </div>
</main>
