<div class="row">
  <div class="col-sm ">
    <div>
      <canvas id="DeviceChart" class="card" width="100px" height="100px">{{chart}}</canvas>
    </div>
  </div>
  <div class="col-sm">
    One of three columns
  </div>
  <div class="col-sm">
    One of three columns
  </div>
</div>