.device-detail-title{
    margin-left: 60px;
    margin-bottom: 20px;
}

.device-image{
    height: auto;
    width: auto;
    align-content: center;
}

.device-image-small{
    height: 70px;
    width: 50px;
}

.device-spec-title{
    color: gray;
    font-size: 15px;
}

.device-spec-value{
    font-size: 20px;
}