<main class="app-content">
  <div class="app-title">
    <div class="div">
      <h1>
        <i class="fa fa-laptop"></i> Dashboard</h1>
      <!-- <p>Dashboard</p> -->
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item">
        <i class="fa fa-home fa-lg"></i>
      </li>
      <li class="breadcrumb-item">
        <a href="#">Device Details</a>
      </li>
    </ul>
  </div>

  <div class="tile mb-4">
    <div class="row">
      <div class="col-lg-3">
        <div class="bs-component">
          <img class="device-image" src="http://www.prontoforms.com/blog/wp-content/uploads/2013/07/sample-form.png" alt="Device image">
        </div>
      </div>
      <div class="col-lg-6">
       
          <table class="table table-user-information">
            <tbody>
              <tr>
                <td>{{deviceDetails.A_id}}</td>
                <td>{{deviceDetails.asset_value}}</td>
              </tr>
              <tr>
                <td>{{deviceDetails.D_name}}</td>
                <td>{{deviceDetails.D_value}}</td>
              </tr>
              <tr>
                <td>{{deviceDetails.S_no}}</td>
                <td>{{deviceDetails.S_value}}</td>
              </tr>
              <tr>
                <td>{{deviceDetails.OS}}</td>
                <td>{{deviceDetails.OS_value}}</td>
              </tr>
              <tr>
                <td>{{deviceDetails.OS_version}}</td>
                <td>{{deviceDetails.OS_version_value}}</td>
              </tr>
              <tr>
                <td>{{deviceDetails.Device_size}}</td>
                <td>{{deviceDetails.Device_size_value}}</td>
              </tr>
              <tr>
                <td>{{deviceDetails.Device_color}}</td>
                <td>{{deviceDetails.Device_color_value}}</td>
              </tr>
            </tbody>
          </table>
          
          <button class="btn btn-primary" style="float:right" (click)="request(deviceDetails.asset_value,deviceDetails.S_value)">Request</button>
      </div>
    </div>
  </div>
</main>