<!-- 
<app-dashboard></app-dashboard> -->
<div *ngIf="showLoadingIndicator" class="spin"></div>
<router-outlet></router-outlet>
<!-- <app-login></app-login> -->
<!-- <app-password-reset></app-password-reset> -->
