<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside [class.active]="isParaActive" class="app-sidebar">
  <div class="app-sidebar__user">
    <img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image">
    <div>
      <p class="app-sidebar__user-name">HOANG NGUYEN</p>
      <p class="app-sidebar__user-designation">Developer</p>
    </div>
  </div>
  <ul class="app-menu">
    <li>
      <a class="app-menu__item" routerLinkActive='active' routerLink="./device-list">
        <i class="app-menu__icon fa fa-dashboard"></i>
        <span class="app-menu__label">Dashboard</span>
      </a>
    </li>
    <li *ngIf="isAdmin">
      <a class="app-menu__item" routerLink="./admin-device-request">
        <i class="app-menu__icon fa fa-bell"></i>
        <span class="app-menu__label">Device Dashboard</span>
      </a>
    </li>
    <!-- <li >
      <a class="app-menu__item" routerLinkActive routerLink="./new-request">
        <i class="app-menu__icon fa fa-bell"></i>
        <span class="app-menu__label">New Request</span>
      </a>
    </li> -->
    <li>
      <a class="app-menu__item" routerLinkActive routerLink="./device-request" data-toggle="treeview">
        <i class="app-menu__icon fa fa-laptop"></i>
        <span class="app-menu__label">Device Request</span>
      </a>
    </li>
    <li *ngIf="isAdmin">
      <a class="app-menu__item" routerLinkActive routerLink="./device-request">
        <i class="app-menu__icon fa fa-pie-chart"></i>
        <span class="app-menu__label">Add Device</span>
      </a>
    </li>
    <li *ngIf="isAdmin">
      <a class="app-menu__item" routerLinkActive routerLink="/device-management" data-toggle="treeview">
        <i class="app-menu__icon fa fa-edit"></i>
        <span class="app-menu__label">Add User</span>
      </a>
    </li>
    <li>
      <a class="app-menu__item" routerLinkActive routerLink="/device-management" data-toggle="treeview">
        <i class="app-menu__icon fa fa-th-list"></i>
        <span class="app-menu__label">Report</span>
      </a>
    </li>
  </ul>
</aside>