<!-- <mat-card class="example-card" layout-align="center center">
  <mat-card-header class="center-element">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>TCS</mat-card-title>
    <mat-card-subtitle>Device Management</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="userForm" (ngSubmit)="addPost(userForm.value)" class="example-form">
      <mat-form-field class="example-full-width">
        <input type="text" matInput placeholder="Email Id" formControlName="username">
        <mat-error  *ngIf="!userForm.controls['username'].valid && userForm.controls['username'].touched">{{ usernameAlert }}</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input type="password" matInput placeholder="Password" formControlName="password">
        <mat-error  *ngIf="!userForm.controls['password'].valid && userForm.controls['password'].touched">{{ passwordAlert }}</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions class="button-actions">
    <div class="callout warning" *ngIf="loginError"> {{ loginAlert }}</div>
    <button (click)="loginUser()" class="display-button" mat-raised-button color="primary" [disabled]="!userForm.valid">Login</button>
    <button (click)="forgotPasssword()" class="display-button" mat-button color="primary">Forgot Password</button>
  </mat-card-actions>
</mat-card> -->

<!--**************************-->

<section class="material-half-bg">
    <div class="cover"></div>
  </section>
  <section class="login-content">
    <!-- <div class="logo">
      <h1>Device Managment</h1>
    </div> -->
    <div [class.flipped]="isParaActive" class="login-box">
      <!-- <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm(loginForm.value)" [class.deactive]="isParaActive || isFirstLogin" class="login-form" action="index.html"> -->
          <form [formGroup]="loginForm" [class.deactive]="isParaActive || isFirstLogin" class="login-form" action="index.html">
        <!-- <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>SIGN IN</h3> -->
  
        <div class="logon_header login-head">
          <img class="" style='width: 2.5rem;' src="../../../assets/images/logo.png" alt="device icon">
          <div class='login_content'>
            <div class="samll-text">TCS</div>
            <div class="big-text">Device <strong>Management</strong></div>
          </div>
        </div> 
        
        <div class="form-group">
          <label class="control-label">USERNAME</label>
          <input class="form-control" type="text" placeholder="Email" autofocus formControlName="username"  > 
        </div>
        <div class="form-group">
          <label class="control-label">PASSWORD</label>
          <input class="form-control" type="password" placeholder="Password" formControlName="password" >
        </div>
        <div class="form-group">
          <div class="utility">
            <div class="animated-checkbox">
              <label>
                <input type="checkbox"><span class="label-text">Stay Signed in</span>
              </label>
            </div>
            <p class="semibold-text mb-2"><a class='text-primary' (click)="resetPassword()" data-toggle="flip">Forgot Password ?</a></p>
          </div>
        </div>
        <div class="form-group btn-container">
          <button type="submit" class="btn btn-primary btn-block" (click)="login()"><i class="fa fa-sign-in fa-lg fa-fw"></i>SIGN IN</button>
        </div>
      </form>
      <form [class.active]="isParaActive" class="forget-form" action="index.html">
        <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>Forgot Password ?</h3>
        <div class="form-group">
          <label class="control-label">EMAIL</label>
          <input class="form-control" type="text" placeholder="Email">
        </div>
        <div class="form-group btn-container">
          <button class="btn btn-primary btn-block"><i class="fa fa-unlock fa-lg fa-fw"></i>RESET</button>
        </div>
        <div class="form-group mt-3">
          <p class="semibold-text mb-0"><a class='text-primary' (click)="resetPassword() " data-toggle="flip"><i class="fa fa-angle-left fa-fw"></i> Back to Login</a></p>
        </div>
      </form>
      <form [formGroup]="resetForm" (ngSubmit)="submitResetForm(resetForm.value)" [class.active]="isFirstLogin" class="reset-form" action="index.html">
          <h5 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>Please Reset Your Password ?</h5>
          <div class="form-group">
            <label class="control-label">OLD PASSWORD</label>
            <input class="form-control" type="password" placeholder="Old Password" formControlName="oldPassword">
          </div>
          <div class="form-group">
              <label class="control-label">NEW PASSWORD</label>
              <input class="form-control" type="password" placeholder="New Password" formControlName="newPassword">
            </div>
            <div class="form-group">
                <label class="control-label">CONFIRM PASSWORD</label>
                <input class="form-control" type="password" placeholder="Confirm Password" formControlName="confirmPassword">
              </div>
          <div class="form-group btn-container">
            <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-unlock fa-lg fa-fw"></i>SUBMIT</button>
          </div>
        </form>
    </div>
  </section>
<app-page-loader *ngIf="showLoader"></app-page-loader>
