.logon_header {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #fff;
}

.logon_header img {
    width: 2.5rem;
}

.login_content {
    margin-left: 1rem;
    font-size: 1.2rem;
    color: #343a40;
}

.samll-text {
    font-size: .8rem;
    color: #007bff;
}
.big-text{
    font-weight: 300;
}

.login-box .login-head {
    text-align: left;
}

/* .reset-form{
    display: none;
} */


.deactive{
    opacity: 0;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}


.active{
    opacity: 1 !important;
    -webkit-transform: rotateY(0deg) !important;
    transform: rotateY(0deg) !important;
}



/* .flipped {
    min-height: 300px;
} */

/* .login-box > .active{
    min-width: 300px;
} */

/* .login-box:has(.active) { min-width: 300px; } */

.login-box .active:parent { min-width: 300px; background: green}


