<div id="mySidenav" class="sidenav" #mySidenav>
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a href="#">DASHBOARD</a>
  <a href="#">Request</a>
  <a href="#">History</a>
  <a href="#">Q & A</a>
  <a href="#">Profile</a>
</div>
<span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>
