/* .button-request{
    background-color: green;
    color: white;
    
}

.device-item-card {
    margin-top: 20px;
}

.device-image{
    height: auto;
    width: auto;
}

.align{
    margin-left: 20px;
} */


.card{
    box-shadow: 0px 0px 10px #aaaaaa;
}
img.device-image{
    width: 50%;margin: auto;
}