<div class="card">
  <!-- <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"> -->
  <img class="device-image" mat-card-image src="http://www.prontoforms.com/blog/wp-content/uploads/2013/07/sample-form.png"
    alt="Device image">
  <div class="card-body">
    <h5 class="card-title">{{deviceTitle}}</h5>
    <h6 class="card-subtitle text-muted">{{deviceDescription}}</h6>

  </div>
  <div class="card-body">
    <button class="btn btn-primary" type="button" (click)="btnRequest($event)" *ngIf="allocationStatus=='available'">Request</button>
    <button type="button" class="btn btn-success" *ngIf="allocationStatus=='requested'">
      <span>Pending with admin</span>
    </button>
    <button type="button" class="btn btn-success" *ngIf="allocationStatus=='return-requested'">
      <span>Return requested</span>
    </button>
    <button type="button" class="btn btn-warning" *ngIf="allocationStatus=='allocated'">
      <span>Issued</span>
    </button>
    <button type="button" class="btn btn-warning" *ngIf="allocationStatus=='reallocation-requested'">
      <span>reallocation-requested</span>
    </button>

  </div>
</div>