<main class="app-content">
  <div class="app-title">
    <div>
      <h1>
        <i class="fa fa-laptop"></i> Accupay</h1>
    </div>
  </div>
  <div class="row m-3" *ngFor="let accupy of accupay">
    <div class="col-md-12">
      <div class="tile p-2">
        <div class="tile-title-w-btn m-0">
          <div class="app-sidebar__user m-0">
            <img style='width: 5rem;' class="app-sidebar__user-avatar" src="../../../assets/images/device.png" alt="User Image">
            <div *ngIf="accupy;else notAvilable">
              <p class="app-sidebar__user-name text-primary">{{accupy.asset_model}}</p>
              <p class="app-sidebar__user-designation text-primary">{{accupy.asset_platform.name}} </p>
              <p class="app-sidebar__user-designation text-primary">Asset Id: {{accupy.asset_id}} </p>
            </div>
            <ng-template #notAvilable>
              Not accupayed any device
            </ng-template>
          </div>
          <div class="btn-group " *ngIf="assetID != accupy.asset_id">
            <button class="btn btn-primary" (click)="assetID= accupy.asset_id" [disabled]="assetID == accupy.asset_id">
              <i class="fa  fa-exchange"> Transfer</i>
            </button>

            <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Cancel" (click)="returnDevice(accupy.asset_id)">
              <i class="fa fa-undo"> Return</i>
            </button>
          </div>

          <div class="input-group" *ngIf="assetID == accupy.asset_id">
            <form name="myForm">
              <input type="email" class="form-control" placeholder="Enter user email" aria-label="Recipient's username"
                aria-describedby="basic-addon2" (keyup)="onKeyUp($event)" required>
              <div class="input-group-append">
                <button class="btn btn-primary input-group-text" id="basic-addon2" (click)="transfer(accupy.asset_id)">Transfer</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="app-title">
    <div>
      <h1>
        <i class="fa fa-laptop"></i> Request Pending</h1>
    </div>
  </div>

  <div class="row m-3" *ngFor="let request of requested">
    <div class="col-md-12">
      <div class="tile p-2">
        <div class="tile-title-w-btn m-0">
          <div class="app-sidebar__user m-0">
            <img style='width: 5rem;' class="app-sidebar__user-avatar" src="../../../assets/images/device.png" alt="User Image">
            <div>
              <p class="app-sidebar__user-name text-primary">Requested By: {{request.created_by.name}}</p>
              <p class="app-sidebar__user-designation text-primary">Model: {{request.asset.asset_model}} </p>
              <p class="app-sidebar__user-designation text-primary">Asset Id: {{request.asset_id}} </p>
            </div>
          </div>

          <div class="btn-group">
            <button class="btn btn-outline-secondary" (click)="decision(request.worklog_id,'accpet');aID= request.asset_id" >
              <i class="fa fa-lg fa-check-circle"> Accept </i>
            </button>
            <button class="btn btn-outline-secondary" (click)="decision(request.worklog_id,'reject');aID= request.asset_id" >
              <i class="fa fa-lg fa-times-circle"> Reject </i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-page-loader *ngIf="showLoader"></app-page-loader>